# Ignore local datasets, checkpoints and caches
data/*
!data/voice_clone/
__pycache__/
.DS_Store
checkpoint/
*.pt
*.pth
*.wav
*.mp3
*.m4a

# Allow tracking the reference voice recording
!data/voice_clone/my_voice.wav
